body {
    background-color: #f73b7d;
    color: #ffffff;
    font-size: :30px;
    text-align: center;




}

h2 {
    border-style: dashed;
    border-color: black;
    background-color: #1c9c5a;
    font-family: cursive;
    font-size: 35px
}

p {
    font-size: 36px;
    font-family: cursive;






}
